/* INCREASE NAVBAR HEIGHT */
.navbar-fixed-top {
    min-height: 80px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

/* NAVBAR LOGO */
.logo {
    width: 60px;
    margin-top: 10px;
    margin-right: 16px;
}

/* TO FIT INTERNAL PAGES */
.wrapper {
    margin-top: 70px;
}

/* OTHERS */
h5 {
    font-weight: bold;
}

th, td {
    padding: 5px;
}

#navbar-menu{
    float: left;
    margin-top:25px;
}

.games-list{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.myCarouselControl{
    background: transparent; 
    color:grey;
}

.jumbotron{
     background-size: cover;
     background-color: #DCE8EC;
}

.carousel-indicators li{
    background-color: grey !important;
    border-color: grey !important;
}

#listProducts{
    margin-top: 30px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}