/* INCREASE NAVBAR HEIGHT */
.navbar-fixed-top {
    min-height: 80px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

/* NAVBAR LOGO */
.logo {
    width: 60px;
    margin-top: 10px;
    margin-right: 16px;
}

/* TO FIT INTERNAL PAGES */
.wrapper {
    margin-top: 70px;
}

/* OTHERS */
h5 {
    font-weight: bold;
}

th, td {
    padding: 5px;
}

#navbar-menu{
    float: left;
    margin-top:25px;
}

.games-list{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.myCarouselControl{
    background: transparent; 
    color:grey;
}

.jumbotron{
     background-size: cover;

}

.carousel-indicators li{
    background-color: grey !important;
    border-color: grey !important;
}

#listProducts{
    margin-top: 30px;
}